@using TiendaVideojuegos.Models
@{
    ViewBag.Title = "modificarVideojuego";
    Layout = "~/Views/Plantilla/Plantilla.cshtml";
    TVideojuego videojuego = Model[0];
}

<h3 style="margin-bottom: 25px; text-align: center;">Modificar Videojuego</h3>


<div class="container">
    <div class="col-md-10">
        <div class="form-area">
            <form class="form" method="post">
                <img border="1" alt="Portada" src=@videojuego.Imagen width="150" height="150">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input name="Nombre" type="text" maxlength="30" required="" class="form-control" placeholder="Nombre" id="nombre" value="@videojuego.Nombre" />
                </div>
                <div class="form-group">
                    <label for="empresaDesarrolladora">Empresa Desarrolladora</label>
                    <input name="EmpresaDesarrolladora" type="text" maxlength="30" minlength="5" required="" class="form-control" placeholder="Empresa Desarrolladora" id="empresaDesarrolladora" value="@videojuego.EmpresaDesarrolladora" />
                </div>
                <div class="form-group">
                    <label for="genero">Genero</label>
                    <select name="Genero" class="form-control" id="genero">
                        @foreach (TGenero genero in Model[1])
                        {
                            <option value="@genero.Genero">@genero.Genero</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="edadRecomendada">Edad Recomendada</label>
                    <input name="EdadRecomendada" type="text" required="" class="form-control" placeholder="Edad Recomendada para jugar" id="edadRecomendada" value="@videojuego.EdadRecomendada" />
                </div>
                <div class="form-group">
                    <label for="precio">Precio</label>
                    <input name="Precio" type="text" required="" class="form-control" placeholder="Precio" id="precio" value="@disco.Precio" />
                </div>
                <div class="form-group">
                    <label for="imagen">Imagen</label>
                    <input name="Imagen" type="text" required="" class="form-control" placeholder="Imagen" id="imagen" value="@disco.Imagen" />
                </div>
                <br>
                <div class="submit">
                    <input type="submit" value="Modificar Datos" class="btn btn-primary pull-right" id="button-blue" />
                    <div class="ease"></div>
                </div>
                <br>
            </form>
        </div>
    </div>
</div>